services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5999:5999"
    environment:
      NODE_ENV: production
      HOSTNAME: 0.0.0.0
      PORT: 5999
    restart: unless-stopped
